@font-face {
    src: url("../fonts/segoeui.ttf");
    font-family: "segoeui";
}

@font-face {
    src: url("../fonts/segoeuib.ttf");
    font-family: "segoeuib";
}

@font-face {
    src: url("../fonts/segoeuii.ttf");
    font-family: "segoeuii";
}

@font-face {
    src: url("../fonts/segoeuil.ttf");
    font-family: "segoeuil";
}

@font-face {
    src: url("../fonts/segoeuiz.ttf");
    font-family: "segoeuiz";
}

@font-face {
    src: url("../fonts/seguisb.ttf");
    font-family: "segoeuisb";
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #171D29;
    --yellow: #D68B01;
    --grey: #757575;
    --blue: #1E90FF;
    --light: #EEEEEE;
}

header{ 
    width: 100%;
    height: 68.4px;
    background-color: var(--black);
}

.container{
    width: 960px;
    margin: 0 auto;
    display: flex;
}

header .top-text {
    width: 150px;
    height: 68px;
    font-size: 26px;
    color: white;
    line-height: 64px;
    font-family: "segoeui";
    font-weight: 900;
    margin-left: 35px;
    font-stretch: ultra-condensed;
    letter-spacing: -2px;
}

header .top-text .logo {
    font-weight: 100;
    font-family: "segoeuil";
    letter-spacing: -3px;
}

header .headline {
    width: 750px;
    height: 68px;
    font-size: 26px;
    color: #ef9b01;
    line-height: 64px;
    font-family: "segoeuil";
    font-weight: 100;
    padding: 0px 19px 0px 10px;
}

header .tell {
    width: 200px;
    height: 68px;
    font-size: 14px;
    color: white;
    line-height: 60px;
    font-family: "segoeuil";
    font-weight: 900;
}

/*SECTION FIRST START*/

.first {
    width: 100%;
    height: 401px;
    background: var(--light);

}

.woman-logo {
    width: 540px;
    margin: 0px 10px 0px 10px;
}

.woman-logo img {
    margin-left: 40px;
    transform: translateY(-12px);
}

.singup {
    width: 380px;
    padding: 30px;
    margin-left: 10px;
}

.first h3 {
    font-size: 25px;
    font-family: "segoeui";
    color: var(--blue);
    margin: 12px 0px;
    font-weight: 100;
}

.first p {
    display: block;
    font-size: 14px;
    font-family: "segoeui";
    color: var(--grey);
    margin-bottom: 28px;
}

.first ul {
    width: 100%;
}


.first li {
    width: 331px;
    margin-bottom: 16px;
    list-style: none;
}


.first input {
    width: 331px;
    height: 50px;
    width: 100%;
    font-size: ;
    font-family: ;
    padding: 21px 0px 13px 12px;
} 

::placeholder {
    font-size: 19px;
    line-height: 25px;
}

input[type=submit] {
    height: 47px;
    background: linear-gradient(to top, #c97c01, #f5a81b);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    line-height: 1px;

}


/*SECOND SECTION START*/

.second {
    width: 100%;
    height: 217.6px;
}

.feat {
    width: 95%;
    margin: 0 auto;
    display: inline-flex;
    justify-content: space-between;
}

.feature {
    width: 300px;
    height: 217px;
    padding: 40px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.14);
}

#feature-id {
    border-right: 1px solid rgba(128, 128, 128, 0.14);
}

.feature-name {
    width: 220px;
    height: 34px;
    margin: 10px 0px;
    display: inline-flex;
    font-family: "segoeui";
}

.feature-img {
    width: 33px;
    
}

.name {
    width: 186px;
    font-size: 31.5px;
    font-family: "segoeui";
    color: var(--blue);
}

.feature-text {
    width: 220px;
    font-size: 14px;
    font-family: "segoeui";
    margin-bottom: 10px;
    color: #666666;
}

/*THIRD SECTION START*/

.third {
    width: 100%;
    height: 164.6px;
    
}

.info {
    width: 960px;
    height: 163px;
    padding: 40px;
    display: inline-flex;
    flex-wrap: wrap;
}

.info-img {
    width: 92px;
    height: 92px;
    margin-left: 10px;
}

.info-text {
    width: 768px;
    height: 55px;
    font-size: 14px;
    font-family: "segoeui";
    padding-left: 18px;
    margin-bottom: 5px;
    color: #666666;
}

.info-name {
    width: 768px;
    font-size: 14px;
    font-family: "segoeui";
    padding-left: 118px;
    padding-top: 66px;
    color: #666666;
    position: absolute;
}

/*FOOTER*/

footer {
    height: 58.4px;
    background-color:  var(--black);
}

.footer-text {
    width: 940px;
    height: 19px;
    margin: 20px 10px;
    color: white;
    font-size: 14px;
    font-family: "segoeui";
    text-align: center;
}

.footer-text a {
    color: #e39d1d;
    
}

.footer-text span {
    color: #e39d1d;
    
}




